DATABASE_URL=postgresql://postgres:password@localhost:5433/practice
PORT=4000
JWT_SECRET=your-super-secret-jwt-key-change-it-in-production
JWT_EXPIRES_IN=7d
NODE_ENV=development
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASS=re_RjpzPDMr_wNcJ1xpf1ogjjD3TSYixpw7X
SMTP_FROM=onboarding@resend.dev
APP_URL=http://localhost:4000
FRONTEND_URL=http://localhost:3000